html, body { 
	height: 100%;
}

* { 
	margin: 0; 
	padding: 0;
}

.row {
	height: 100vh;
}

#second {
	background-color: black;
}

#third {
	background-color: blue;
}

img {
	max-height: 100vh;
	max-width: 100vw;
}